img{
    width: 400px;
    height: 400px;
  }
  img{
    margin-left: 20px;
  }
  div{
   padding-left: 159px;
  }
  
  /* body{
    background-color: rgb(204, 191, 191);
  } */
  
  p{
    font-size: 150%;
    font-weight: bolder;
    margin: 100px 100px 100px 0px;
    text-align: center;
    color: rgb(238, 57, 57);
  }

  button {
    background-color: #4b2037;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 50px 50px 100px 0px;
    cursor: pointer;
    position:static;
    left: 600px;
    top: 150px;
    nav-down: 150px;
  }
  
  ul{
    margin-top: 50px;
  }
  
  li{
    margin-top: 10px;
    list-style-type: none;
    color: rgb(45, 133, 103);
    font-weight: bold;
  }